.get-it-now{
  height:fit-content;
  display:flex;
  width:98%;
  background-color: rgba(255,149,0,255);
  margin: 10px auto 0;
  justify-content: center;
  border-radius: 10px;
  padding: 15px 0;
  color: white;
  .content-get-it-now{
    display:flex;
    .get-img-1{
      width:15px;
      height: 15px;
      object-fit: cover;
      margin: 0 5px;
      margin: 5px 5px 0px 5px;
    }
    .get-img-2{
      width:15px;
      height: 15px;
      object-fit: cover;
      margin: 5px 5px 0px 5px;
    }
  }
}

.nav-container{
    &.day-theme{
        height:fit-content;
        display:flex;
        width:90%;
        background-color: rgba(233, 233, 233, 0);
        padding: 40px 0 20px 0;
        margin: 0 auto;
        justify-content: space-between;
        box-shadow: 0 0.2px 0 rgba(0, 0, 0, 0.5); /* Đường viền dưới mỏng hơn 1px */
       .nav-mobile{
        display:flex;
          align-items: center;
         
        .nav-menu{
          display:flex;
          align-items: center;
         
          .nav-link{
              padding: 10px 15px ;
              margin: 0 10px;
              font-size: 100%;
              //font-weight: 490;
              text-decoration: none;
              color: rgb(32, 32, 32);
              font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              .logo-img{
                width:46px;
                height:46px;
                object-fit: cover;
                border-radius: 10px;
              }
          }
          .login{
            background-color: rgba(255,149,0,255);
            color: white;
            border-radius: 5px;
          }
          .language-selector {
              position: relative;
              display: inline-block;
            
              .current-language {
                cursor: pointer;
              }
            
              .language-options {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            
                button {
                  color: black;
                  padding: 8px 16px;
                  text-decoration: none;
                  display: block;
                  background: none;
                  border: none;
                  width: 100%;
                  text-align: left;
            
                  &:hover {
                    background-color: #f1f1f1;
                  }
                }
              }
            
              &:hover .language-options {
                display: block;
              }
            }
            
          
          .active{
              background-color: #f1f1f1;
              border-radius: 10px;
  
          }
        
      }
       }
       .nav-menu{
        display:flex;
        align-items: center;
       
        .nav-link{
            padding: 10px 15px ;
            margin: 0 10px;
            font-size: 100%;
            //font-weight: 490;
            text-decoration: none;
            color: rgb(32, 32, 32);
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            .user-icon{
              width:26px;
              height:26px;
              object-fit: cover;
              
            }
            .logo-img{
              width:46px;
              height:46px;
              object-fit: cover;
              border-radius: 10px;
            }
        }
        .dropdown-toggle.btn.btn-primary{
          &:hover{
            background-color: rgba(255, 149, 0, 1);
          }        }
        .dropdown-toggle.show.btn.btn-primary{
          background-color: rgba(255, 149, 0, 1);
          &:hover{
            background-color: rgba(255, 149, 0, 1);
          }
        }
        .login{
          background-color: rgba(255,149,0,255);
          color: white;
          border-radius: 5px;
        }
        .language-selector {
            position: relative;
            display: inline-block;
          
            .current-language {
              cursor: pointer;
            }
          
            .language-options {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 100px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
          
              button {
                color: black;
                padding: 8px 16px;
                text-decoration: none;
                display: block;
                background: none;
                border: none;
                width: 100%;
                text-align: left;
          
                &:hover {
                  background-color: #f1f1f1;
                }
              }
            }
          
            &:hover .language-options {
              display: block;
            }
          }
          
        
        .active{
            background-color: #f1f1f1;
            border-radius: 10px;

        }
      
    }
        
        .unlock-potential{
          .unlock-button{
            border:none;
            background-color:#f1f1f100;
            width:50px;
            .btn-nav-mobile{
              width:100%;
              height:auto;
              object-fit: cover;
            }
          }
        }
    
        @media (max-width: 540px) { 
            width: 100%;
            padding: 15px 0;
            display:flex;
            align-items: center;
          
              .nav-menu {
                width: 100%;
                justify-content: space-between;
                align-items: center;
          
                .logo {
                  font-size: 20px;
                }
             
                .nav-link.moblie{
                  display:block;
                }
                
                .nav-mobile{
                  display:block;
                  position:absolute;
                  width:100vw;
                  height: 100vh;
                  background-color: white;
                  z-index: 1000;
                  top:0;
                  padding-top: 20%;
                  .nav-link {
                    display: block; 
                    color:rgb(15, 15, 15)
                  }
                  .closed {
                    position:absolute; // Định vị tuyệt đối
                    top: 10px; // Khoảng cách từ trên
                    right: 10px; // Khoảng cách từ bên phải
                    background-color: rgba(255, 149, 0, 0.8); // Màu nền (có thể thay đổi)
                    color: white; // Màu chữ
                    border: none; // Không viền
                    border-radius: 5px; // Bo góc
                    padding: 5px 10px; // Khoảng cách trong
                    cursor: pointer; // Con trỏ khi di chuột
                    font-size: 16px; // Kích thước chữ
            
                    &:hover {
                        background-color: rgba(255, 149, 0, 1); // Hiệu ứng hover
                    }
                }
                }
  
                
              }
              .nav-menu.mobile{
                display:flex;
                width:100%;
                justify-content: flex-end;
                .nav-link {
                  display: flex; // Hide nav links on mobile initially
                  font-size: 80%;
                  margin:5px;
                  padding: 5px 8px;
  
                }
                .nav-link.login{
                  font-size: 80%;
                  margin:5px;
                  padding: 5px 8px;
  
                }
              }
              .nav-items{
                  width: 100%;
                justify-content: space-between;
                align-items: center;
                .logo {
                  font-size: 20px;
                }
                
          
                .nav-link {
                  display:block ; 
                  text-align: center;
                  margin: 10px 0 ;
                }
               
                
          
          
               
  
               
              .active{
                  border-bottom: 1px solid rgb(32, 32, 32);
      
              }
          
                &.active .nav-link,
                &.active .language-selector,
                &.active .day-night {
                  display: flex; // Show links and options when the menu is active
                  flex-direction: column;
                  margin: 10px 0;
                }
              }
            }
            
          
        }
        
    
    
    

}


